/* line 7, ../sass/main.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* line 15, ../sass/main.scss */
html {
  font-size: 62.5%;
}

/* line 19, ../sass/main.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

/* line 29, ../sass/main.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

/* line 38, ../sass/main.scss */
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

/* line 44, ../sass/main.scss */
.header__logo {
  height: 3.5rem;
}

/* line 48, ../sass/main.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 56, ../sass/main.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /*hide the shaky animation end */
}

/* line 64, ../sass/main.scss */
.heading-primary--main,
.heading-primary--sub {
  display: block;
}

/* line 69, ../sass/main.scss */
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  /* animation-delay: 2s; */
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
}

/* line 79, ../sass/main.scss */
.heading-primary--sub {
  font-size: 21rem;
  font-weight: 700;
  letter-spacing: 1.54rem;
  line-height: 0.85;
  animation-name: moveInRight;
  animation-duration: 1.5s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-20);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* line 127, ../sass/main.scss */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

/* line 139, ../sass/main.scss */
.btn:hover {
  transform: translateY(-3px);
  backface-visibility: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* line 145, ../sass/main.scss */
.btn:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* line 150, ../sass/main.scss */
.btn--white {
  background-color: #fff;
  color: #777;
}

/* pseude element trick -- creating a similar element */
/* line 157, ../sass/main.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 169, ../sass/main.scss */
.btn::after {
  background-color: #fff;
  transition: all .4s;
}

/* line 174, ../sass/main.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* line 179, ../sass/main.scss */
.btn--animated {
  animation-name: moveInBottom;
  animation-delay: 1.2s;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}
